.container {
  margin-top: 1rem;
  display: flex;
  margin: 0 2rem 6rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  width: 61rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}

.summary {
  height: 21.5rem;
  width: 100%;
  border: 1px solid #e6ccb2;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary span {
  font-size: 1.2rem;
}

.box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.first-line {
  display: flex;
  flex-direction: row;
}

.id {
  width: 35%;
}

.status {
  width: 32%;
  font-size: 1.2rem;
}

.status select {
  font-size: 1rem;
  width: 45.5%;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.date span {
  font-size: 1.17rem;
}

.line-items {
  margin: 1rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

a:hover {
  opacity: 0.8;
}

.footer {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.type-payment {
  width: 35.1%;
}

.line1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.line2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.infor-one {
  width: 43.8%;
}

.payment-id {
  width: 56.2%;
}

.last-line {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.price {
  position: relative;
  width: 20%;
  color: green;
}

.price span {
  position: absolute;
  bottom: 0;
  left: 0;
}

.price strong {
  color: #322015;
}

.user {
  margin-top: 0.4rem;
}

.user-lines {
  height: 7.1rem;
  margin-top: 1rem;
  padding: 0.4rem;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: 1px solid #e6ccb2;
}

.user-second-column {
  width: 40%;
}

.box-user {
  padding: 0 0.6rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
