<div class="container">
  <div class="content">

    <app-title title="Gerenciar Pedidos" fontSize="1.6rem" [mBottomRem]="-1"></app-title>

    <app-not-found [visible]="ordersLoaded && (!orders || orders.length === 0)"
      notFoundMessage="Nenhum Pedido Encontrado" resetLinkText="Página Inicial"></app-not-found>

    <div class="summary" *ngFor="let order of orders"
      [ngClass]="{'await-order':isOrderAwait(order.statusOrder), 'finalized-order': isOrderFinalized(order.statusOrder),'canceled-order': isOrderCanceled(order.statusOrder)}">

      <div class="box">
        <div class="first-line">
          <div class="id">
            <span><strong>Nº </strong>{{order.id}}</span>
          </div>

          <div class="status">
            <span><strong>Status do Pedido </strong>{{order.statusOrder}}</span>
          </div>

          <div class="date">
            <span><strong>Data do Pedido </strong>{{order.createdAt | date:'dd/MM/yyyy, HH:mm:ss'}}</span>
          </div>
        </div>

        <div class="line-items">

          <div class="table" *ngFor="let item of order.items; let i = index">
            <ng-container *ngIf="i < 10">
              <a routerLink="/product/{{item.product.id}}">
                <img [src]="item.product.imageUrl" />
              </a>
            </ng-container>
          </div>
        </div>

        <div class="footer">

          <div class="lines">
            <div>
              <div class="first-line">
                <div class="infor-one">
                  <span><strong>Tipo de Pagamento </strong>{{order.typePayment}}</span>
                </div>

                <div class="infor-two">
                  <span><strong>Status de Pagamento </strong>{{order.statusPayment}}</span>
                </div>
              </div>
            </div>

            <div>
              <div class="first-line">
                <div class="infor-one">
                  <span><strong>Forma de Entrega </strong>{{order.deliveryAddress}}</span>
                </div>

                <div class="infor-two">
                  <span><strong>Pagamento Nº </strong>{{order.paymentId}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="price">
            <span><strong>Preço </strong>{{order.totalPriceToPay | currency:'BRL':'symbol':'1.2-2' }}</span>
          </div>
        </div>

        <div class="user">

          <div class="user-lines">
            <div class="box-user">
              <div class="first-line">
                <div class="infor-one">
                  <span><strong>Cliente: </strong>{{order.name}}</span>
                </div>

                <div class="infor-two">
                  <span><strong>Telefone: </strong>{{order.phone | mask: '(00) 00000-0000'}}</span>
                </div>
              </div>
            </div>

            <div class="box-user">
              <div class="first-line">
                <div class="infor-one">
                  <span><strong>Endereço: </strong>{{order.address}}</span>
                </div>

                <div class="user-second-column">
                  <span><strong>Bairro: </strong>{{order.district}}</span>
                </div>

                <div class="infor-two">
                  <span><strong>N°: </strong>{{order.numberHouse}}</span>
                </div>
              </div>
            </div>

            <div class="box-user">
              <div class="first-line">
                <div class="infor-one">
                  <span><strong>Cidade: </strong>{{order.city}}</span>
                </div>

                <div class="user-second-column">
                  <span><strong>CEP: </strong>{{order.cep | mask: '00000-000'}}</span>
                </div>

                <div class="infor-two">
                  <span><strong>UF: </strong>{{order.stateUF}}</span>
                </div>
              </div>
            </div>

            <div class="box-user">
              <span><strong>Complemento: </strong>{{order.complement}}</span>
            </div>

          </div>

          <div class="buttons">
            <default-button class="btt" text="Mostrar Itens" [fontSizeRem]="1" [heightRem]="1.8" [widthRem]="8"
              bgColor="#a7afb2" [mTopRem]="0" [mbottomRem]="0" [routerLink]="['/track', order.id]"></default-button>

            <default-button class="btt" *ngIf="order.statusOrder != 'CANCELADO' && order.statusOrder != 'FINALIZADO'"
              text="Atualizar Pedido" [fontSizeRem]="1" [heightRem]="1.8" [widthRem]="10" bgColor="#009e84"
              [mTopRem]="0" [mbottomRem]="0" [routerLink]="['/update-order', order.id]"></default-button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>