<div class="container">
  <div class="content">

    <app-title title="Fine Coffee" margin="0.7rem"></app-title>

    <div class="about-container">
      <div class="about">
        <p>
          Desde 2018 oferecemos uma experiência única para os amantes do café, que buscam mais do que uma
          simples pausa na rotina.
          <br>
          Nossa cafeteria encanta desde a entrada, com sua decoração aconchegante e aroma
          envolvente de grãos recém-moídos e preparados por nossos baristas apaixonados.
          <br>
          Será uma imensa alegria recebemos sua visita em nossa cafeteria, estamos situados próximo à antiga rodoviária
          no centro da cidade.
          <br>
          Sinta-se à vontade para conhecem nosso cardápio online repleto de opções.
        </p>
      </div>
      <div class="img">
        <img src="https://images.pexels.com/photos/4109744/pexels-photo-4109744.jpeg">
      </div>
    </div>

    <h2 id="time-title">Horários de funcionamento</h2>
    <div class="time-container">
      <div class="img">
        <img src="https://images.pexels.com/photos/6205626/pexels-photo-6205626.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </div>

      <div class="time">
        <table class="table">
          <tbody>
            <tr>
              <td><i class="far fa-clock"></i> Segunda à Sexta:</td>
              <td> 6:30hrs - 16:30hrs</td>
            </tr>
            <tr>
              <td><i class="far fa-clock"></i> Sábado:</td>
              <td> 6:30hrs - 10:30hrs</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h2 id="contact-title">Contatos</h2>
    <div class="contacts-container">
      <div class="contacts">
        <ul class="footer-links">
          <li><a href="https://maps.app.goo.gl/qimebuGTo5SFu6XH8" target="_blank" rel="noopener"><i
                class="fas fa-map-marker-alt"></i> Endereço</a></li>
          <li><a href="mailto:finecoffee@coffee.com" rel="noopener"><i class="fas fa-envelope"></i> Email</a></li>
          <li><i class="fas fa-phone"></i> (99) 91234-5678</li>
          <li><a
              href="https://hebertfb.notion.site/Fine-Coffee-Dados-para-testes-8bf2c6de9de841d1b74f75af10015bdd?pvs=4"
              target="_blank" rel="noopener"><i class="fa-solid fa-headset"></i> Suporte</a></li>
          <li><a href="https://forms.gle/28aVKfVcm5r5WaNW8" target="_blank" rel="noopener"><i
                class="fa-solid fa-comment"></i> Nos conte seu FeedBack</a></li>
        </ul>
      </div>

      <div class="social">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook fa-2x"> </i></a></li>
          <li><a class="instagram" href="#"><i class="fab fa-instagram fa-2x"> </i></a></li>
          <li><a class="whatsapp" href="#"><i class="fab fa-whatsapp fa-2x"> </i></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>