.container {
  display: flex;
  justify-content: center;
}

.details {
  margin-top: 3rem;
  height: 40rem;
  width: 75rem;
}

.campos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  width: 50%;
}

.second {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
