<div class="container">
  <div class="content">

    <app-title title="Página Não Encontrada" fontSize="1.6rem" [mBottomRem]="-1"></app-title>

    <div class="text">
      <span>Desculpe, esta página não foi encontrada!!</span>
      <p>Por favor, volte para a página inicial!</p>
    </div>

    <div class="buttons">
      <default-button text="Página Inicial" [fontSizeRem]="1.5" [heightRem]="3" [widthRem]="16" [mTopRem]="4"
        bgColor="#a26f45" [routerLink]="['/']"></default-button>
    </div>
  </div>
</div>